# Node.js dependencies
node_modules
dist

# macOS system files
.DS_Store

# Build and public files
server/public
vite.config.ts.*

# Ignore compressed archives
*.tar.gz

# Ignore environment variables
.env
